body {
  margin: 0 auto;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: rgb(225, 228, 230);
  font-family: "Times New Roman", Times, serif;

}

.container {
  max-width: 100vw;
}

header {
  padding: 0.5rem;
  background: rgb(16, 204, 218);
  text-align: center;
}

.heading {
  color: #0b5fb9;
  font-family: "Yeseva One",
    cursive;
  font-size: 2rem;
  text-align: center;
  padding-top: 40px;
}

.logo {
  font-family: "Yeseva One", cursive;
}

.nav-bar {
  color: white;
}

.nav-links {
  margin-top: 2rem;
  list-style: none;
  display: flex;
}

.nav-links a:hover {
  border-radius: 0.3rem;
  background: rgb(13, 231, 231);
  color: brown;
  border-bottom: 0.13rem solid brown;
}

.nav-link,
a {
  padding: 1.2rem;
  text-decoration: none;
  color: white;
  font-size: larger;
}

a.active {
  color: rgb(83, 42, 3);
}

p i {
  color: white;
}

.main-content {
  margin-left: 30rem;
  padding-left: 1.3rem;
}

header {
  display: flex;
  justify-content: space-between;
}

.main-area {
  padding-left: 1.3rem;
}

main {
  min-height: 50vh;
  margin: 10vw;
  padding: 2rem;
  background: white;
  border-radius: 0.3rem;
  text-align: center;
}

.my-main {
  margin: 0;
}

#banner {
  max-width: 100%;
}

form {
  max-width: 60vw;
  margin: 0 auto;
}

.add-store-button,
.add-product-button,
.add-address-button,
.add-stock-button {
  float: left;
}

label {
  display: block;
  margin-bottom: 1.3rem;
  text-align: left;
}

input {
  display: block;
  margin-top: 0.3rem;
  width: 100%;
}

input[type="submit"] {
  width: auto;
  float: right;
}

#product-img {
  width: 30vw;
}

div img:hover {
  cursor: pointer;
}

.product {
  padding: 0.9rem;
  border-radius: 5px;
}

.store a {
  color: #0b5fb9;
  margin-left: -20px;
  font-size: large;
  font-weight: bold;
}

h3 {
  color: brown;
}

.store a:hover {
  color: blue;
}

button {
  background: #c9ddf1;
  padding: 0.6rem;
  color: #0b5fb9;
  font-size: 1rem;
  font-weight: bolder;
  width: 30%;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: 0.8s;
}

button:hover {
  background: #0b5fb9;
  color: white;
}

.add-product-form,
.edit-product-form,
.add-store-form,
.change-store-form,
.add-address-form,
.change-address-form,
.change-stockinfo-form,
.add-stockinfo-form {
  display: none;
}

footer {
  background: rgb(16, 204, 218);
  height: 6rem;
  padding: 0.9rem;
  bottom: 0px;
  left: 0px;
  position: relative;
  color: white;
  text-align: center;
}